<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clubhub">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

<activity android:name=".MainActivity">
  <intent-filter>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.DEFAULT"/>
      <category android:name="android.intent.category.BROWSABLE"/>
    <data
      android:host="gadgetworld.com"
      android:scheme="https"/>
  </intent-filter>
  
</activity>

</manifest>
