<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296606963668-fvvvo26pdc4v08ik6o0n2ls2s409o4mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296606963668-fvvvo26pdc4v08ik6o0n2ls2s409o4mm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>296606963668-0d48bfo50j65mu0ad9i27egqja7uuk02.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTbxeydgm_w8TKEVGmGkL26zyLZEOQiwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>296606963668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clubhub.vzla</string>
	<key>PROJECT_ID</key>
	<string>clubhub-200af</string>
	<key>STORAGE_BUCKET</key>
	<string>clubhub-200af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296606963668:ios:bf07e9765fb058027e2841</string>
	<key>DATABASE_URL</key>
	<string>https://clubhub-200af.firebaseio.com</string>
</dict>
</plist>